# Dependências
node_modules/

# Relatórios de Testes (Playwright)
playwright-report/
test-results/
blob-report/
playwright/.cache/

# Relatórios de Testes (Cucumber)
cucumber-report.html

# Variáveis de Ambiente e Segredos
.env
.env.*

# Logs do Sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ficheiros do Sistema Operativo
.DS_Store
Thumbs.db